div.pageContainer { margin:0px; background:hsl(70, 31%, 85%); text-align:center; }


    /* width:120px;
    height:145px; */
    

.balloon {
    display:inline-block;
    width:60px;
    height:72px;
    background:hsl(215,50%,65%);
    border-radius:80%;
    position:relative;
    box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
    margin:20px 0px;
    transition:transform 0.5s ease;
    z-index:10;
    animation:balloons 10s ease-in-out infinite;
    transform-origin:bottom center;
}

/*
.balloon:nth-child(2){ background:hsl(245,40%,65%); animation-duration:3.5s; }
.balloon:nth-child(2):before { color:hsl(245,40%,65%);  }

.balloon:nth-child(3){ background:hsl(139,50%,60%); animation-duration:3s; }
.balloon:nth-child(3):before { color:hsl(139,30%,50%);  }

.balloon:nth-child(4){ background:hsl(59,50%,58%); animation-duration:4.5s; }
.balloon:nth-child(4):before { color:hsl(59,30%,52%);  }

.balloon:nth-child(5){ background:hsl(23,55%,57%); animation-duration:5s; }
.balloon:nth-child(5):before { color:hsl(23,44%,46%);  } 
*/


@keyframes balloons {

    0% {
        transform: scale(1);
        transform: rotate(-4deg); 
    }

    20% {
        transform: scaleY(0.95) scaleX(1.05);
        
    }

    50% {  
        transform: scaleY(1.1) scaleX(0.9); 
        transform: rotate(10deg);
    }

    
    80% {
        transform: scaleY(1.02) scaleX(0.98);
    }
    
    
    100% {
        transform: scale(1);
        transform: rotate(-4deg);
    }

} 



/* 
@keyframes balloons {
    0%,100%{ transform:translateY(0) rotate(-4deg); }
    50%{ transform:translateY(-25px) rotate(4deg); }
  }
 */

@keyframes pop {
    0%{
        opacity: 1;
        transform: translateZ(0) scale(1, 1);
        
      }
    100%{
        opacity: 0;
        transform: translateZ(0) scale(1.5, 1.5) rotate(-4deg);
        
      }
  }

  @keyframes spotHit1 {
    
    0%{
        opacity: 0;
        transform: translateZ(0) scale(5, 5) rotate(-10deg);
        
      }
      /* 25%{
        opacity: 1;
        transform: translateZ(0) scale(1, 1) rotate(-8deg);
        
      } */
      50%{
        opacity: 1;
        transform: translateZ(0) scale(1, 1) rotate(-270deg);
        
      }
      /* 75%{
        opacity: 1;
        transform: translateZ(0) scale(1, 1) rotate(-8deg);
        
      } */
      100%{
        /* opacity: 0;
        transform: translateZ(0) scale(1, 1) rotate(-270deg);
         */
        opacity: 0;
        transform: translateZ(0) scale(1, 1) rotate(-270deg);
        
      }
      
      
  }

  @keyframes spotHit2 {
    
    0%{
        opacity: 0;
        transform: translateZ(0) scale(5, 5) rotate(-10deg);
        
      }
      /* 25%{
        opacity: 1;
        transform: translateZ(0) scale(1, 1) rotate(-8deg);
        
      } */
      50%{
        opacity: 1;
        transform: translateZ(0) scale(1, 1) rotate(-270deg);
        
      }
      /* 75%{
        opacity: 1;
        transform: translateZ(0) scale(1, 1) rotate(-8deg);
        
      } */
      100%{
        /* opacity: 0;
        transform: translateZ(0) scale(1, 1) rotate(-270deg);
         */
        opacity: 0;
        transform: translateZ(0) scale(1, 1) rotate(-270deg);
        
      }
      
      
  }

  .balloon.popped {
    animation: pop 5s cubic-bezier(0.16, 0.87, 0.48, 0.99) forwards;
  }


  .balloon::after {
    
    display: block;
    
    background:
		linear-gradient(-50deg,hsla(0,0%,80%,0) 68%,hsl(0,0%,100%),hsla(0,0%,80%,0) 72%) 100% 0 / 75% 40%,
		linear-gradient(-20deg,hsla(0,0%,80%,0) 67%,hsl(0,0%,100%),hsla(0,0%,80%,0) 73%) 100% 0 / 75% 100%,
		linear-gradient(-80deg,hsla(0,0%,80%,0) 90%,hsl(0,0%,100%),hsla(0,0%,80%,0) 96%) 100% 100% / 80% 50%,
		linear-gradient(10deg,hsla(0,0%,80%,0) 44%,hsl(0,0%,100%),hsla(0,0%,80%,0) 50%) 100% 0 / 50% 100%,
		linear-gradient(-30deg,hsla(0,0%,80%,0) 21%,hsl(0,0%,100%),hsla(0,0%,80%,0) 27%) 20% 0 / 40% 100%,
		linear-gradient(110deg,hsla(0,0%,80%,0) 47%,hsl(0,0%,100%),hsla(0,0%,80%,0) 53%) 0 100% / 100% 30%,
		linear-gradient(-5deg,hsla(0,0%,70%,0) 55%,hsl(0,0%,70%),hsla(0,0%,70%,0) 62%) 100% 0 / 35% 100%,
		linear-gradient(25deg,hsla(0,0%,70%,0) 32%,hsl(0,0%,70%),hsla(0,0%,70%,0) 39%) 100% 0 / 50% 100%,
		linear-gradient(20deg,hsla(0,0%,70%,0) 22%,hsl(0,0%,70%),hsla(0,0%,70%,0) 29%) 100% 0 / 40% 100%;
	background-repeat: no-repeat;
	content: "";
	clip-path: circle(0% at 50% 50%);
	transition: clip-path 0.1s ease-in-out;
	width: 100%;
	height: 100%;
    z-index: -100;
}
/* 
    .balloon::before {
       
        content:"▲";
        font-size:20px;
        color:hsl(215,30%,50%);
        display:block;
        text-align:center;
        width:100%;
        position:absolute;
        bottom:-12px;
        z-index:-100;

}
 */
 /* content:"▲";
    font-size:20px;
    color:hsl(215,30%,50%);
    display:block;
    text-align:center;
    width:100%;
    position:absolute;
    bottom:-12px;
    z-index:-100; */
/* 
.balloon:nth-child(2){ background:hsl(245,40%,65%); }
.balloon:nth-child(2):before { color:hsl(245,40%,65%);  }

.balloon:nth-child(3){ background:hsl(139,50%,60%); }
.balloon:nth-child(3):before { color:hsl(139,30%,50%);  }

.balloon:nth-child(4){ background:hsl(59,50%,58%); }
.balloon:nth-child(4):before { color:hsl(59,30%,52%);  }

.balloon:nth-child(5){ background:hsl(23,55%,57%); }
.balloon:nth-child(5):before { color:hsl(23,44%,46%);  }  
*/



.popped::after {
	clip-path: circle(50% at 50% 50%);
    
}

/* 
.popping:before {
	background:
		linear-gradient(-50deg,hsla(0,0%,80%,0) 68%,hsl(0,0%,100%),hsla(0,0%,80%,0) 72%) 100% 0 / 75% 40%,
		linear-gradient(-20deg,hsla(0,0%,80%,0) 67%,hsl(0,0%,100%),hsla(0,0%,80%,0) 73%) 100% 0 / 75% 100%,
		linear-gradient(-80deg,hsla(0,0%,80%,0) 90%,hsl(0,0%,100%),hsla(0,0%,80%,0) 96%) 100% 100% / 80% 50%,
		linear-gradient(10deg,hsla(0,0%,80%,0) 44%,hsl(0,0%,100%),hsla(0,0%,80%,0) 50%) 100% 0 / 50% 100%,
		linear-gradient(-30deg,hsla(0,0%,80%,0) 21%,hsl(0,0%,100%),hsla(0,0%,80%,0) 27%) 20% 0 / 40% 100%,
		linear-gradient(110deg,hsla(0,0%,80%,0) 47%,hsl(0,0%,100%),hsla(0,0%,80%,0) 53%) 0 100% / 100% 30%,
		linear-gradient(-5deg,hsla(0,0%,70%,0) 55%,hsl(0,0%,70%),hsla(0,0%,70%,0) 62%) 100% 0 / 35% 100%,
		linear-gradient(25deg,hsla(0,0%,70%,0) 32%,hsl(0,0%,70%),hsla(0,0%,70%,0) 39%) 100% 0 / 50% 100%,
		linear-gradient(20deg,hsla(0,0%,70%,0) 22%,hsl(0,0%,70%),hsla(0,0%,70%,0) 29%) 100% 0 / 40% 100%;
	background-repeat: no-repeat;
	content: "";
	clip-path: circle(50% at 50% 50%);
	transition: clip-path 0.1s ease-in-out;
	width: 100%;
	height: 100%;
} */